<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Housing</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active" >
        <a class="nav-link" href="/index/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/housing_renter/">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Renter</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/housing_room/">
          <i class="fas fa-fw fa-bed"></i>
          <span>Room</span></a>
      </li>
        <li class="nav-item ">
        <a class="nav-link" href="/payment_admin/">
          <i class="fas fa-fw fa-money-bill"></i>
          <span>Payment</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/maintenance_admin/">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Maintenance</span></a>
      </li>
        <li class="nav-item ">
        <a class="nav-link" href="/amenity_admin/">
          <i class="fas fa-fw fa-home"></i>
          <span>Amenity</span></a>
      </li>
        <li class="nav-item ">

        <a class="nav-link" href="/reservation_admin/">
          <i class="fas fa-fw fa-calendar"></i>
          <span>Reservation</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>




    <!--user distribution chart-->
          <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-pie"></i>
            Renter Charts</div>

          <div class="card-body">
                    <div id="country" style="width: 350px;height:300px;float: left"></div>
                    <div id="gender" style="width: 350px;height:300px;float: left" ></div>
                    <div id="age" style="width: 350px;height:300px;float: left" ></div>

          </div>

          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    <!--room distribution chart-->
          <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Lease Charts</div>

          <div class="card-body">
                    <div id="room" style="width: 400px;height:300px;float: left"></div>
                    <div id="lease" style="width: 400px;height:300px;float: left"></div>


          </div>

          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-line"></i>
            Payment Chart</div>
          <div class="card-body">
            <div id="containerr" style="width:1100px; height: 400px;"></div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
<div class="row" >
          <div class="col-lg-12">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Maintenance Chart</div>
              <div class="card-body">
                <!-- Create a div where the graph will take place -->
            <button onclick="update(data1)">Category</button>
            <button onclick="update(data2)">Location</button>
            <div id="my_dataviz" style=""></div>

              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>





      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>


          <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Reservation Chart</div>
          <div class="card-body">

              <form action="/index/" method="post">
                  {% csrf_token %}
                      <label style="float: left; padding-top: 5px">Amenity: &nbsp;</label>
                      <select class="form-control" style="width: 200px; float: left" name="amenityid">
                            <option>total</option>
                            {% for ai in a_id %} }
                            <option>{{ ai.amenity_id }}</option>
                            {% endfor %}
                      </select>&nbsp;

                    <button type="submit" class="btn btn-primary"> Submit</button>
              </form>
              <em>{{ a_name }}</em>
            <div id="container" style="width:1100px; height: 400px;"></div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

<div class="row" >
          <div class="col-lg-12">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Amenity Chart</div>
              <div class="card-body">
                <!-- Create a div where the graph will take place -->
                  <div id="amenity_type_reserve_pie" style="width: 500px;height:400px;float: left"></div>

                               <div id="amenity_type_reserve_bar" style="width: 600px;height:430px;float: left"></div>


              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>

    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

   <!-- chart core JavaScript-->

  <script src="/static/echarts/dist/echarts.min.js"></script>
      <script src="http://d3js.org/d3.v4.js"></script>

  <!--- country piechart--->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('country'),'light');

        // 指定图表的配置项和数据
option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:[{% for c in country_list %}
            '{{ c.0 }}',
            {% endfor %}
        ]
    },
    series: [
        {
            name:'Country',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[{% for c in country_list %}
                {value: {{ c.1 }}, name: '{{ c.0 }}'},
                {% endfor %}
            ]
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
   <!--- gender piechart--->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('gender'));

        // 指定图表的配置项和数据
option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:[{% for g in gender %}
            '{{ g.0 }}',
            {% endfor %}
        ]
    },
    series: [
        {
            name:'Gender',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[{% for g in gender %}
                {value: {{ g.1 }}, name: '{{ g.0 }}'},
                {% endfor %}
            ]
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

  <!--- age group piechart--->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('age'),"light");

        // 指定图表的配置项和数据
option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:[{% for a in age_group %}
            '{{ a.0 }}',
            {% endfor %}
        ]
    },
    series: [
        {
            name:'Age',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[{% for a in age_group %}
                {value: {{ a.1 }}, name: '{{ a.0 }}'},
                {% endfor %}
            ]
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

  <!--- room distribution piechart--->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('room'));

        // 指定图表的配置项和数据
option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:[{% for r in room %}
            '{{ r.0 }}',
            {% endfor %}
        ]
    },
    series: [
        {
            name:'Room',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[{% for r in room %}
                {value: {{ r.1 }}, name: '{{ r.0 }}'},
                {% endfor %}
            ]
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

  <!--- lease_age distribution chart--->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('lease'));

        // 指定图表的配置项和数据
option = {
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
        data: ['10-20', '21-30','30+']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis:  {
        type: 'category',
        data: ['2b2b','3b3b','4b4b']
    },
    yAxis: {
                type: 'value'


    },
    series: [
        {
            name: '10-20',
            type: 'bar',
            stack: '总量',

            data:{{ list_20 }}
        },
        {
            name: '21-30',
            type: 'bar',
            stack: '总量',

            data: {{ list_21_30 }}
        },
        {
            name: '30+',
            type: 'bar',
            stack: '总量',

            data: {{ list_30 }}
        },

    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <!--- amenity_type piechart--->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('amenity_type_reserve_pie'));

        // 指定图表的配置项和数据
option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:[{% for a in amenity_count %}
            '{{ a.0 }}',
            {% endfor %}
        ]
    },
    series: [
        {
            name:'Room',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[{% for a in amenity_count %}
                {value: {{ a.1 }}, name: '{{ a.0 }}'},
                {% endfor %}
            ]
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('amenity_type_reserve_bar'), "light");

        // 指定图表的配置项和数据
var option = {

            tooltip: {},
            legend: {
                data:['Reservation']
            },
            xAxis: {
                data: [
                    {% for i in amenity_reserve %}
                        "{{ i.0 }}",
                    {% endfor %}
                ]
            },
            yAxis: {},
            series: [{
                name: 'Reservation',
                type: 'bar',
                data: [
                    {% for i in amenity_reserve %}
                        {{ i.1 }},
                    {% endfor %}
                ]
            }]
        };



        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>


    <!--- reservation chart--->
    <script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = 'heatmap_reservation';

    var hours = ['12a', '1a', '2a', '3a', '4a', '5a', '6a',
            '7a', '8a', '9a','10a','11a',
            '12p', '1p', '2p', '3p', '4p', '5p',
            '6p', '7p', '8p', '9p', '10p', '11p'];
    var days = ['Saturday', 'Friday', 'Thursday',
            'Wednesday', 'Tuesday', 'Monday', 'Sunday'];

    var data = {{ listall }}
    data = data.map(function (item) {
        return [item[1], item[0], item[2] || '-'];
    });

    option = {
        tooltip: {
            position: 'top'
        },
        animation: false,
        grid: {
            height: '50%',
            y: '10%'
        },
        xAxis: {
            type: 'category',
            data: hours,
            splitArea: {
                show: true
            }
        },
        yAxis: {
            type: 'category',
            data: days,
            splitArea: {
                show: true
            }
        },
        visualMap: {
            min: 0,
            max: 10,
            calculable: true,
            orient: 'horizontal',
            left: 'center',
            bottom: '15%'
        },
        series: [{
            name: 'Punch Card',
            type: 'heatmap',
            data: data,
            label: {
                normal: {
                    show: true
                }
            },
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    };;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
           </script>

     <!--- payment chart--->
    <script type="text/javascript">
    var dom = document.getElementById("containerr");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        title: {
        },
        tooltip : {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data:['2b2b','3b3b','4b4b']
        },
        toolbox: {
            feature: {
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['January','February','March','April','May','June','July','August','September','October','November','December']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
             {
                name:'4b4b',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:[
                    {% for l4 in list4b %}
                        {{ l4 }},
                    {% endfor %}]
            },
            {
                name:'3b3b',
                type:'line',
                stack: '总量',
                areaStyle: {},
                data:[
                    {% for l3 in list3b %}
                        {{ l3 }},
                    {% endfor %}]
            },
            {
                name:'2b2b',
                type:'line',
                stack: '总量',
                areaStyle: {},
                data:[
                    {% for l2 in list2b %}
                        {{ l2 }},
                    {% endfor %}]
            },

        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
           </script>

 <!--- maintenance chart--->
<script>

// create 2 data_set
var data1 = [
{% for ca in category_chart %}
        {group: "{{ ca.0}}", value: {{ ca.1}}},
    {% endfor %}
];

var data2 = [
   {% for lo in location_chart %}
        {group: "{{ lo.0}}", value: {{ lo.1}}},
    {% endfor %}
];

// set the dimensions and margins of the graph
var margin = {top: 30, right: 30, bottom: 70, left: 60},
    width = 1000 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Initialize the X axis
var x = d3.scaleBand()
  .range([ 0, width ])
  .padding(0.2);
var xAxis = svg.append("g")
  .attr("transform", "translate(0," + height + ")")

// Initialize the Y axis
var y = d3.scaleLinear()
  .range([ height, 0]);
var yAxis = svg.append("g")
  .attr("class", "myYaxis")


// A function that create / update the plot for a given variable:
function update(data) {

  // Update the X axis
  x.domain(data.map(function(d) { return d.group; }))
  xAxis.call(d3.axisBottom(x))

  // Update the Y axis
  y.domain([0, d3.max(data, function(d) { return d.value }) ]);
  yAxis.transition().duration(1000).call(d3.axisLeft(y));

  // Create the u variable
  var u = svg.selectAll("rect")
    .data(data)

  u
    .enter()
    .append("rect") // Add a new rect for each new elements
    .merge(u) // get the already existing elements as well
    .transition() // and apply changes to all of them
    .duration(1000)
      .attr("x", function(d) { return x(d.group); })
      .attr("y", function(d) { return y(d.value); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.value); })
      .attr("fill", "#FF6633")


  // If less group in the new dataset, I delete the ones not in use anymore
  u
    .exit()
    .remove()
}

// Initialize the plot with the first dataset
update(data1)

</script>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="/static/js/demo/datatables-demo.js"></script>
  <script src="/static/js/demo/chart-area-demo.js"></script>

</body>

</html>
